{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["module-resolver", {
      "root": ["./app/"],
      "alias": {
        "app": ["./app"],
        "lib": ["./app/lib/"],
        "config": ["./app/config"],
        "model": ["./app/model"],
        "*": ["./app/*"]
      }
    }]
  ]
}